<footer style="height:245px; background-color:#131313">
  <div class="container" style="color:white; font-size:14px">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <br><h1>ABOUT US</h1><br>
        <p style="font-size:14px">Surakshya Security Services is a reliable organization dedicatedly engaged in offering manpower recruitment services of the clients.</p>
        <a href="contact" class="btn btn-primary" style="background-color:#801A12; font-size:16px; border:1px solid black">Contact US</a><br>
        <br>
        Surakshya Security Agency. <br>
        All Rights Reserved.
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12" style="font-size:16px; text-align:center;">
        <br><h1>CONTACT DETAILS </h1>
        <br>
        <h4>9114359642,9853191761</h4>
        <h4>surakshya.agency@gmail.com</h4>
        <h4>At/Po-Kantabada,Via-Janla</h4>
        <h4>PS-Chandaka,District-Khorda,</h4>
        <h4>Bhubaneswar, Odisha. PIN-752054</h4>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12" style="font-size:16px;text-align:center">
        <br><h1>FOLLOW US</h1><br>
        <ul style="list-style:none; text-decoration: none">
        <li><a href="#" style="color:white"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#" style="color:white"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#" style="color:white"><i class="fa fa-instagram"></i> Instagram</a></li>
      </ul>
      </div>
    </div>
  </div>
</footer>
