<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Surakshya Security Services</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
			input[type=text], select, textarea {
				width: 100%;
				padding: 12px;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;
				margin-top: 6px;
				margin-bottom: 16px;
				resize: vertical;
		}

		input[type=submit] {
				background-color: #801A12;
				color: white;
				padding: 12px 20px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
		}

		input[type=submit]:hover {
				background-color: black;
		}

		#myImg:hover{
			cursor: pointer;
		}
	</style>
  </head>
  <link rel="stylesheet" href="css/modal.css">
	<body style="background-color:black">
		<div class="container">
		<%- include header.ejs %>
		<div class="content">
		  <div class="container">
		    <div class="row">
		      <div class="col-sm-12 col-md-12 col-lg-10" style="padding:0; margin:0">
		        <%- include carousel.ejs %>
		      </div>
		      <div class="col-sm-12 col-md-12 col-lg-2" style="padding:0; margin:0" style="background-color:white;text-align:center">

		            <h2 style="text-align:center;background-color:black;color:white">Contact Us</h2>
								<form action="/contact" method="POST" style="background-color:white;text-align:center">
		              <label for="fname">FIRST NAME</label>
		              <input type="text" id="fname" name="fname" placeholder="Your name.." required>
		              <label for="lname">LAST NAME</label>
		              <input type="text" id="lname" name="lname" placeholder="Your last name.." required>
		              <label for="email">EMAIL</label><br>
		              <input type="email" id="email" name="email" placeholder="Enter your email address.." style="width:99%" required><br>
		              <label for="lname">SUBJECT</label>
		              <input type="text" id="subject" name="subject" placeholder="subject" required>
		              <label for="subject">MESSAGE</label>
		              <textarea id="body" name="body" placeholder="Write something.." style="height:44px" required></textarea>
		              <input type="submit" value="Submit">
		            </form>
		    </div>
		  </div>
		  <!-- end -->
		<center>
		  <div class="row">
		    <div class="container" style="background-color:white;font-size:14px;overflow: hidden;"><br>
		      <br>
		      <p align="center" style="color:#801A12; font-weight:bold; font-size:24px">GALLERY</p><br>
					<div class = "row">
			      <div class ="col-md-4 col-lg-4">
			        <!-- Trigger the Modal -->
			        <img id="myImg" src="/images/sec9.jpg" alt="Image" width="200" height="200">
			      </div>
			      <div class ="col-md-4 col-lg-4">
			        <!-- Trigger the Modal -->
			        <img id="myImg" src="/images/sec3.jpg" alt="Image" width="300" height="200">
			      </div>
			      <div class ="col-md-4 col-lg-4">
			        <!-- Trigger the Modal -->
			        <img id="myImg" src="/images/sec1.jpg" alt="Image" width="200" height="200">
			      </div>
			    </div>
			      <br>
			      <br>
			      <div class="row">
			        <div class ="col-md-4 col-lg-4">
			          <!-- Trigger the Modal -->
			          <img id="myImg" src="/images/sec2.jpg" alt="Image" width="300" height="150">
			        </div>
			        <div class ="col-md-4 col-lg-4">
			          <!-- Trigger the Modal -->
			          <img id="myImg" src="/images/sec4.jpg" alt="Image" width="300" height="150">
			        </div>
			        <div class ="col-md-4 col-lg-4">
			          <!-- Trigger the Modal -->
			          <img id="myImg" src="/images/sec5.jpg" alt="Image" width="300" height="150">
			        </div>
			      </div>
			      <br>
			      <br>
			      <div class="row">
			        <div class ="col-md-4 col-lg-4">
			          <!-- Trigger the Modal -->
			          <img id="myImg" src="/images/sec6.jpg" alt="Image" width="200" height="200">
			        </div>
			        <div class ="col-md-4 col-lg-4">
			          <!-- Trigger the Modal -->
			          <img id="myImg" src="/images/sec7.jpg" alt="Image" width="200" height="200">
			        </div>
			        <div class ="col-md-4 col-lg-4">
			          <!-- Trigger the Modal -->
			          <img id="myImg" src="/images/sec8.jpg" alt="Image" width="200" height="200">
			        </div>
			      </div>
			</center>
			        <!-- The Modal -->
			        <div id="myModal" class="modal">
				        <!-- The Close Button -->
				        <span class="close" style="color:white; font-size:50px">X</span>
				        <!-- Modal Content (The Image) -->
				        <center>
				        	<img class="modal-content" id="img01">
				        </center>
					</div>
		  <!-- end -->
		  <div class="row">
		  <marquee style="background-color:#801A12; color:white; font-size:20px">ABCDEFG</marquee>
		  </div>
		  <!-- end -->


		  </div>
		</div>
		</div>

		<%- include footer.ejs %>

	<script>
			var modal = document.getElementById('myModal');

		// Get the image and insert it inside the modal - use its "alt" text as a caption
			var modalImg = document.getElementById("img01");
			var img = document.querySelectorAll('#myImg');
			console.log(img);
			function popUp() {
				modal.style.display = "block";
				modal.style.overflow = "auto";
				var s = this.src;
				modal.style.background= "black" ;
				if (s.substr(s.length - 5,1) == 9 || s.substr(s.length - 5,1) == 1 || s.substr(s.length - 5,1) == 6 || s.substr(s.length - 5,1) == 7 || s.substr(s.length - 5,1) == 8) {
					modalImg.style.height = "20%";
					modalImg.style.width = "40%";
				}
				else{
					modalImg.style.height = "60%";
					modalImg.style.width = "86.5%";
				}

				modalImg.src = this.src;
			}
			img.forEach(img => img.addEventListener('click', popUp));

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on <span> (x), close the modal
			onkeydown = function() {
				modal.style.display = "none";
			}
			span.onclick = function() {
				modal.style.display = "none";
			}
	</script>
	</script>
  <!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
  <!-- Waypoints -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- MAIN JS -->
	<script src="js/main.js"></script>


  </body>
  </html>
