
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Surakshya Security Services</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
			input[type=text], select, textarea {
				width: 100%;
				padding: 12px;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;
				margin-top: 6px;
				margin-bottom: 16px;
				resize: vertical;
		}

		input[type=submit] {
				background-color: #801A12;
				color: white;
				padding: 12px 20px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
		}

		input[type=submit]:hover {
				background-color: black;
		}

	</style>

	</head>
	<body style="background-color:black">
		<div class="container">
		<%- include header.ejs %>
		<div class="content">
		  <div class="container">
		    <div class="row">
		      <div class="col-sm-12 col-md-12 col-lg-10" style="padding:0; margin:0">
		        <%- include carousel.ejs %>
		      </div>
		      <div class="col-sm-12 col-md-12 col-lg-2" style="padding:0; margin:0" style="background-color:white;text-align:center">

		            <h2 style="text-align:center;background-color:black;color:white">Contact Us</h2>
								<form action="/contact" method="POST" style="background-color:white;text-align:center">
		              <label for="fname">FIRST NAME</label>
		              <input type="text" id="fname" name="fname" placeholder="Your name.." required>
		              <label for="lname">LAST NAME</label>
		              <input type="text" id="lname" name="lname" placeholder="Your last name.." required>
		              <label for="email">EMAIL</label><br>
		              <input type="email" id="email" name="email" placeholder="Enter your email address.." style="width:99%" required><br>
		              <label for="lname">SUBJECT</label>
		              <input type="text" id="subject" name="subject" placeholder="subject" required>
		              <label for="subject">MESSAGE</label>
		              <textarea id="body" name="body" placeholder="Write something.." style="height:33px" required></textarea>
		              <input type="submit" value="Submit">
		            </form>
		    </div>
		  </div>
		  <!-- end -->
		  <div class="row">
		    <div class="container" style="background-color:white;font-size:14px"><br>
		      <br>
		      <p align="center" style="color:white; background-color:black ;font-weight:bold; font-size:24px">OUR OBJECTIVES</p><br>
					<div class="row">
						<div class="container">
							<div class = "objectives" style="text-align:justify; font-size:16px">
								<ol>
									<li>To give a goodnight sleep to our clients by ensuring their safety</li><br>
									<li>To offer reliable, cost effective security services to our customers.</li><br>
									<li>Provided trusted security services with unmatched excellence and integrity to a number    of clients ranging from large multinational corporations, banks and ATMs, offices, factories, hotels, industrial
										construction sites, warehouses, residences, shops, export houses, government establishment and many more.</li><br>
									<li>Our commitment and highest standard of service ensure security for you, your loved ones and associates, property and assets,
										24 hours a day, 365 days a year.</li><br>
									<li>To be run by highly experienced and well trained professionals from defense force.</li><br>
									<li>Providing culture of discipline, responsibility, integrity and always putting the client’s interests first.  
									</li>
								</ol>
							</div>
						</div>
		  		</div>
		  <!-- end -->
		  <div class="row">
		  <marquee style="background-color:#801A12; color:white; font-size:20px">ABCDEFG</marquee>
		  </div>
		  <!-- end -->


		  </div>
		</div>
		</div>

		<%- include footer.ejs %>





	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- MAIN JS -->
	<script src="js/main.js"></script>

	</body>
</html>
